<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.GymBooking"
            tools:targetApi="31">
        <activity
                android:name=".AddExerciseActivity"
                android:exported="false"/>
        <activity
                android:name=".ProgramForMemberActivity"
                android:exported="false"/>
        <activity
                android:name=".Sessions.Members.pages.Dashboard.GymSelection.GymItem.GymItemActivity"
                android:exported="false"/>
        <activity
                android:name=".Sessions.GymCoach.pages.Exercises.ModifyExercise.ModifyExerciseActivity"
                android:exported="false"/>
        <activity
                android:name=".Sessions.GymCoach.pages.Exercises.AddExercise.AddExerciseActivity"
                android:exported="false"/>
        <activity
                android:name=".Sessions.GymOwner.pages.Membership.ShowJoined.ShowJoinedmembershipActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.GymOwner.pages.Membership.ModifyMembership.ModifyMembershipActivity"
                android:exported="false"
                android:launchMode="singleInstance"
                android:parentActivityName=".Sessions.GymOwner.OwnerSessionActivity">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.GymOwner.pages.Membership.AddMembership.AddMembershipActivity"
                android:exported="false"
                android:launchMode="singleInstance"
                android:parentActivityName=".Sessions.GymOwner.OwnerSessionActivity">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.GymOwner.pages.CoachesList.AddCoach.AddCoachActivity"
                android:exported="false"
                android:launchMode="singleInstance"
                android:parentActivityName=".Sessions.GymOwner.OwnerSessionActivity">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.GymOwner.pages.CoachesList.ModifyCoach.ModifyCoachActivity"
                android:exported="false"
                android:launchMode="singleInstance"
                android:parentActivityName=".Sessions.GymOwner.OwnerSessionActivity">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.GymOwner.pages.StaffsList.ModifyStaff.ModifyStaffActivity"
                android:exported="false"
                android:launchMode="singleInstance"
                android:parentActivityName=".Sessions.GymOwner.OwnerSessionActivity">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.GymOwner.pages.StaffsList.AddStaff.AddStaffActivity"
                android:exported="false"
                android:launchMode="singleInstance"
                android:parentActivityName=".Sessions.GymOwner.OwnerSessionActivity">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.Admin.AdminSignupActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.DeactivationActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.Members.MemberSignupActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.Admin.pages.GymsList.ModifyGym.ModifyGymActivity"
                android:exported="false"
                android:launchMode="singleInstance"
                android:parentActivityName=".Sessions.Admin.AdminSessionActivity">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.Admin.pages.GymsList.AddGym.AddGymActivity"
                android:exported="false"
                android:launchMode="singleInstance"
                android:parentActivityName=".Sessions.Admin.AdminSessionActivity">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.UsersActivity"
                android:exported="false"
                android:launchMode="singleInstance">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.GymOwner.OwnerSessionActivity"
                android:exported="false"
                android:launchMode="singleInstance">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.GymCoach.CoachSessionActivity"
                android:exported="false"
                android:launchMode="singleInstance">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.GymStaff.StaffSessionActivity"
                android:exported="false"
                android:launchMode="singleInstance">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.Members.MemberSessionActivity"
                android:exported="false"
                android:launchMode="singleInstancePerTask">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.Members.MemberLoginActivity"
                android:exported="false"
                android:launchMode="singleInstance"
                android:parentActivityName=".Sessions.UsersActivity">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.GymStaff.StaffLoginActivity"
                android:exported="false"
                android:launchMode="singleInstance"
                android:parentActivityName=".Sessions.UsersActivity">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.GymCoach.CoachLoginActivity"
                android:exported="false"
                android:launchMode="singleInstance"
                android:parentActivityName=".Sessions.UsersActivity">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.GymOwner.OwnerLoginActivity"
                android:exported="false"
                android:launchMode="singleInstance"
                android:parentActivityName=".Sessions.UsersActivity">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.Admin.AdminLoginActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sessions.Admin.AdminSessionActivity"
                android:exported="false"
                android:launchMode="singleInstance">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>